

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px;
    background-color: #b4cf66;
    font-size: 120%;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    border-color: orange;
    background-color: #ff5a33;
    text-decoration: none;
}

h1 {
    color:#146152
}

.vegtaco {
   color: #b4cf66;
   text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cook {
    color:white;
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}
